@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    color: aliceblue;
}

a, h2{
    text-decoration: none;
    color: white;
}

nav{
    height: 50px;
}

.menu-home{
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-items: center;
    background-color: rgb(64, 64, 243);
    line-height: 30px;
    padding: 10px 0;
}

.colunas{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colunas h2{
    padding-top: 10px;
}

.listagem-menu{
    display: flex;
}

.item{
    height: 100%;
    padding: 10px;
}

.item:hover{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 12px;
    height: 30px;
}

.listagem-gerenciamento{
    text-align: center;
}

