@import url(../menu.css);
@import url(../footer.css);

.menu-home{
    width: 100%;
    height: 45px;
}

article{
    text-align: center;
    height: 79.3vh;
    width: 99.8vw;
}
h1{
    margin: 1%;
    color: rgb(29, 214, 220);
}
.colunas h1{
    color: aliceblue;
    font-size: 25px;
}
h3{
    color: black;
    text-shadow: 1px 1px 1px rgb(0, 225, 255), 2px 2px 1px rgb(0, 30, 128);
    font-size: 25px;
}
h5{
    color: black;
}
.up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 50%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27%;
    height: 90%;
    background: rgb(92, 135, 208);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000cb;
}
.card > a{
    color: rgb(41, 248, 255);
}
.down{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
}
.html{
    width: 20%;
    height: 90%;
    background-image: url(../Sobre/Imagens/html5.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000cb;
}


.css{
    width: 20%;
    height: 90%;
    background-image: url(../Sobre/Imagens/css1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-color: rgba(255, 0, 0, 0.233);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000cb;
}

.dd:hover{
    transform: scale(1.12);
}

.dd:hover{
    transition: transform .5s;
}

.js{
    width: 20%;
    height: 90%;
    background-image: url(../Sobre/Imagens/jv.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    background-color: #e5a328;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000cb;
}
.card > a {
    text-decoration: underline;
    margin-top: 13px;
}
.btp{
    width: 20%;
    height: 90%;
    background-image: url(../Sobre/Imagens/bootstrap1.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    background-color: #6c0fec;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000cb;
}
.btp > h3{
    color: black;
    font-size: 32px;
    text-shadow: none;
}


.card2{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100vw;
}
.cont{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(92, 135, 208);
    width: 95%;
    height: 100%;
}
.contfilho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 85%;
}
.contfilho > h4{
    color: black;
    text-shadow: 1px 1px 1px rgb(0, 225, 255), 2px 2px 1px rgb(0, 30, 128);
    margin-left: 2%;
    font-size: 30px;
}
h4 > a{
    text-decoration: underline;
}
.img1{
    height: 100%;
    width: 15%;
}
button{
    margin-bottom: 30px;
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
    background: rgb(29, 214, 220);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(10, 65, 67);
}
button:hover{
    background-color: #00ff40a5;
    box-shadow: 0px 10px 40px -12px rgb(0, 0, 0);
}
.flex-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}



/*
border: solid 1px;
    border-color: aliceblue;
    background: -webkit-linear-gradient(right,rgba(167, 8, 230, 0.418) , rgba(255, 0, 0, 0.473), rgba(167, 8, 230, 0.418) );
*/